#spinner{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #f7f7f9;
    opacity: 0.9;
    z-index: 9;
}

#spinner .overlay {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

#spinner .content {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

#spinner .content p{
  font-size: 1.3em;
}

#spinner .loader {
    width: 75px;
    height: 75px;
    display: inline-block;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.05);
    border-top-color: #919aa1;
    animation: spin 1s infinite linear;
    border-radius: 100%;
    border-style: solid;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}